.bookmark-container{
    margin-left: 10px;
    margin-right: 20px;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    align-items: center;
    border-radius: 8px;
}
.bookmark-container p{
    padding: 5px;
}

