.bookmark-container{
    margin-left: 10px;
    margin-right: 20px;
}
.time-spent{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #6047EC;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    padding: 10px 15px;
    width: 100%;
}
.bookmark-blogs{
    width: 100%;
    height: 1352px;
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}
.bookmark-blogs div{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

color: #111111;
}