.header{
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin: 50px 50px;
    align-items: center;
}
/* .header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
} */
.header p{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}